@import "tailwindcss";

@theme {
  /* Primary Colors */
  --color-green-200: hsl(233, 100%, 90%);
  --color-green-200-light: hsl(148, 38%, 91%);
  --color-green-600: hsl(169, 82%, 27%);
  --color-red: hsl(0, 66%, 54%);

  /* Neutral Colors */
  --color-white: hsl(0, 0%, 100%);
  --color-grey-500: hsl(186, 15%, 59%);
  --color-grey-900: hsl(187, 24%, 22%);

  /* Font */
  --font-karla: "Karla", sans-serif;
}

@layer base {
  h1,
  h2,
  p {
    padding: 0;
    margin: 0;
  }

  body {
    font-family: var(--font-karla);
  }
}

@layer components {
  /* Label styling */
  label {
    @apply text-base font-normal text-grey-900;
  }

  /* Form input element styling */
  .form-input {
    @apply appearance-none border border-solid rounded-lg p-3 text-base w-full;
    @apply border-grey-500 text-grey-900;
    @apply transition-all duration-150;
    @apply hover:border-green-600;
    @apply focus:outline-none focus:border-green-600 focus:ring-1 focus:ring-green-600;
  }

  .form-input.invalid {
    @apply border-red;
    @apply focus:outline-none focus:border-red focus:ring-1 focus:ring-red;
  }

  /* Error message span styling */
  .error-message {
    @apply text-red text-sm hidden;
  }

  .error-message.active {
    @apply block;
  }

  /* Form field styling */
  .contact-form__group {
    @apply flex flex-col gap-1.5;
  }

  .full-width {
    @apply md:col-span-2;
  }

  /* Query type Label Styling */
  .query-option {
    @apply flex items-center gap-4 border border-solid rounded-md px-4 py-3 text-base cursor-pointer w-full;
    @apply border-grey-500 text-grey-900 transition-all duration-150;
    @apply hover:border-green-600 focus-within:border-green-600;
    @apply has-[:checked]:bg-green-200 has-[:checked]:border-green-600;
  }

  .query-radio {
    @apply h-4 w-4 text-green-600 border-grey-500;
    @apply transition-all duration-150 focus:ring-green-600;
    @apply checked:bg-green-600 checked:border-green-600;
  }

  /* Success popup styling */
  .success-popup {
    @apply fixed top-8 left-1/2 -translate-x-1/2 -translate-y-4 opacity-0;
    @apply bg-grey-900 text-white p-5 rounded-xl max-w-[90%] w-fit shadow-lg;
    @apply transition-all duration-300 ease-in-out;
    pointer-events: none;
  }

  .success-popup.show {
    @apply translate-y-0 opacity-100;
    pointer-events: auto;
  }

  .success-title {
    @apply flex items-center font-bold text-base gap-2;
  }

  .success-subtext {
    @apply text-sm opacity-90;
  }
}
